 <div ng-if="abook && amenu==1" class="panel panel-default">
  <div class="panel-body">
    <p class="text-center">
      <img src="{{abook.coverUrl}}" width="200">
    </p>
    <p class="text-center"><strong>{{abook.title}}</strong></p>
    <p class="text-center" ng-if="abook.number"><a ng-click="filter('series', abook.series)">{{series[abook.series-1].title}}</a>, Teil {{abook.number}}</p>

    <p class="text-center"><a ng-click="filter('authors', abook.authors[0])">{{authors[abook.authors[0]-1].firstName}} {{authors[abook.authors[0]-1].lastName}}</a></p>
  </div>
 </div>